extends userlayout 
block content1 
  h1 Welcome to your Home
block content
  h1 You may now take your contract with respect to your wills
  h3 1. Open the contract menu to chek the available contracts 
  h3 2. Open the House menu to chek or take a house or room apartment
